# Streamlit app and UI tools
streamlit
streamlit-image-coordinates

# Image processing and scientific libraries
opencv-python-headless==4.9.0.80
Pillow
tifffile
imageio
imageio-ffmpeg
matplotlib
scikit-image
scipy
numba

# Torch and deep learning
torch
torchvision
torchaudio  # Optional, in case used internally or for completeness

# Others
numpy<2

